@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpotifyMedium';
    src: url('../public/fonts/CircularSpotifyText-Medium.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
  }


@font-face {
    font-family: 'SpotifyLight';
    src: url('../public/fonts/CircularSpotifyText-Light.otf') format('opentype');
    font-style: normal;
    font-weight: 200;
}

.SpotifyLightFont {
    font-family: "SpotifyLight", sans-serif; 
  }

  .SpotifyMediumFont {
    font-family: "SpotifyMedium", sans-serif; 
  
}
  
html {
    font-family: "SpotifyMedium", sans-serif; 
  }

  
.card_background {
  background-color: #121212;
}

.card_background_light {
  background-color: #212121;
}

.card_background_lightest {
  background-color: #272727;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}