@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpotifyMedium';
    src: url('../public/fonts/CircularSpotifyText-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
html {
    font-family: "SpotifyMedium", sans-serif; /* Always include a generic font family as a fallback */
  }

  
.card_background {
  background-color: #121212;
}