@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpotifyMedium';
    src: url('../public/fonts/CircularSpotifyText-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: bolder;
  }


@font-face {
    font-family: 'SpotifyLight';
    src: url('../public/fonts/CircularSpotifyText-Light.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

.SpotifyLightFont {
    font-family: "SpotifyLight", sans-serif; 
  }

  .SpotifyMediumFont {
    font-family: "SpotifyMedium", sans-serif; 
  
}
  
html {
    font-family: "SpotifyMedium", sans-serif; 
  }

  
.card_background {
  background-color: #121212;
}

.card_background_light {
  background-color: #212121;
}

.card_background_lightest {
  background-color: #272727;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.project_box img {
  scale: 1.0;
  transition: 0.3s ease-out;
}

.project_box h1 {
  transition: visibility 0s 0.3s, opacity 0.3s linear;  /* Delay hiding text to be smooth */  
  /* display: block; */
  width: 100%;
  white-space: nowrap;
}


.project_box:hover img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  border-radius: 6px;
  filter: blur(1px);
  filter:brightness(0.25);
}

.project_box:hover h1 {
  display: none;
  width: 0px;
  visibility: hidden;  /* Hide text on hover */
  transition: 2s ease-out;  /* Delay hiding text to be smooth */
}

.project_box:hover h3 {
  display: block; 
  position: absolute;
  opacity: 1;
  transition: 0.5s ease-in;
  width: 400px;
}

.project_box h3 {
  padding: 6px;
  opacity: 0;
  display: none;
  transition: 0.3s ease-in-out;
}

.about-background-image {
  background-image: url('../public/images/profileBanner.jpg');
  transition: filter 0.3s ease; /* Smooth transition for filter changes */
  filter: brightness(100%); /* Start with normal brightness */
}

.about-background-image-blur {
  background-image: url('../public/images/profileBanner.jpg');
  filter: brightness(0.3) blur(8px);
}


.background-blur-container {
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(6, 4, 31) 20%, rgb(18, 18, 18) 100%);
}

.hover-effect {
  transition: 0.25s;
}

.hover-effect:hover {
  background-color: #212121;
  transition: 0.25s;
}

.hover-effect2 {
  transition: 0.1s;
}

.hover-effect2:hover {
  background-color: #464646ad;
  transition: 0.1s;
}


.scroll-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scroll-hidden::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.width-minus-navbar {
  width: calc(100vw - 300px);
}

.top-buttons-width {
  width: calc(100vw - 328px);
}

.top-buttons-width-full {
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .top-buttons-width {
    width: 100vw; 
  }
  .width-minus-navbar {
    width: 100vw; 
      
  }
}

.height-minus-musicPlayer {
  height: calc(100vh - 98px);
  background-color: rgb(6, 4, 31);
}



.test-container {
  transition: 1s;
}
